GITSYNC_GITLAB_URL=https://gitlab.com
GITSYNC_GITLAB_TOKEN=
GITSYNC_GITLAB_USERNAME=
GITSYNC_GITHUB_REPO=
GITSYNC_GITHUB_TOKEN=
GITSYNC_GITHUB_EMAIL=
GITSYNC_GITHUB_BRANCH=main
GITSYNC_DB_PATH=~/.gitsync/gitsync.db
GITSYNC_APP_HOST=127.0.0.1
GITSYNC_APP_PORT=8765